.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3rem auto 1.5rem;
  width: 100%;
  height: 250px;
  background-image: url(../assets/grain-bg-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2),
    0 15px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.15);
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--text-color);
  -webkit-transform: translateZ(60px);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translateZ(60px);
  z-index: 0;
}

.inner h1 {
  font-size: 2rem;
}

.inner p {
  margin-top: 0;
}

.inner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

a {
  color: var(--text-color);
}

.icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

@media (min-width: 800px) {
  .card-container {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .card-container {
    height: 500px;
  }

  .inner h1 {
    font-size: 4vw;
  }

  .inner p {
    font-size: 2vw;
  }

  .icon {
    width: 4rem;
    height: 4rem;
  }
}
